<form action="{% url 'polls:shader' %}" method="post">
{% csrf_token %}

<select name="selectShader">
	{% for shader in shader_list %}
		<option value = {{ shader.shader_uv}}>{{ shader.shader_name }}</option>
	{% endfor %}
</select>

<input type="submit" value="Submit">

</form>


<table>
	<tr>
		<th>Name</th>
		<th>Opaque</th>
		<th>UVset</th>
		<th>Vertex</th>
	<tr>

	{% for shader in selected_shader %}
	<tr>    	
        <td>{{ shader.shader_name }}</td>
        <td>{{ shader.shader_opaque }}</td>
        <td>{{ shader.shader_uv }}</td>
        <td>{{ shader.shader_vertex }}</td>
    </tr>
    {% endfor %}
</table>