table,tr,td
{
    table-layout: fixed;
    overflow:auto;
    border:1px solid #417690;
    border-collapse: collapse;
    line-height: 25px;
}

th
{
    text-align: center;
    padding:2px 6px;
    color: #fff;
    background-color: #417690; 
}

.length_01{ width: 200px;}
.length_02{ width: 70px; }

tr{ text-align: left; }
tr:nth-child(odd) { background-color:#fff; }
tr:nth-child(even){ background-color:#f0f0f0; }