{% include "shader/parameter.html" with paraName="endFade" paraType="Scalar" paraDesc="线性衰减的末端" %}
{% include "shader/parameter.html" with paraName="retroRefIntensity" paraType="Vector3" paraDesc="x:控制凸形衰减的强度 y:偏移retroReflective的强度" %}
{% include "shader/parameter.html" with paraName="retroReflectiveFadeIn" paraType="Scalar" paraDesc="凸形衰减的最高点" %}
{% include "shader/parameter.html" with paraName="retroReflectiveFadeOut" paraType="Scalar" paraDesc="凸形衰减的末端" %}
{% include "shader/parameter.html" with paraName="retroReflectiveNearLimit" paraType="Scalar" paraDesc="凸形衰减的始端" %}
{% include "shader/parameter.html" with paraName="startFade" paraType="Scalar" paraDesc="线性衰减的始端" %}