{% include "shader/parameter.html" with paraName="rainRingsTile" paraType="Scalar" paraDesc="水滴Tiling" %}
{% include "shader/parameter.html" with paraName="isRaining" paraType="Boolean" paraDesc="是否下雨，如果勾选，会有雨滴的波纹出现" %}
{% include "shader/parameter.html" with paraName="Porosity" paraType="Color" paraDesc="灰度值，？" %}
{% include "shader/parameter.html" with paraName="WaterCycle" paraType="Color" paraDesc="R通道，？" %}
{% include "shader/parameter.html" with paraName="WaterLimits" paraType="Color" paraDesc="R通道，？" %}