table,tr,td,th
{
    border:1px solid #417690;
    border-collapse: collapse;
    line-height: 25px;
    text-align: left;
    white-space: nowrap;
    padding:0 4px;
}

th
{
    color: #fff;
    background-color: #417690;   
}

tr:nth-child(odd) { background-color:#fff; }
tr:nth-child(even){ background-color:#f0f0f0; }

select
{ 
	width:100%;
	border:0; 
	background: transparent;
}
.selection 
{ 
	padding: 0; 
	background-color: #ffffcc;
}

button 
{
	width: 100%;
	background-color: #ffffcc;
	border:0;
}