<head>
	{%extends "shader/base.html"%}
	{% block title %} {{shader.shader_name}} {% endblock %}</title>
    {% block extrastyle %}<link rel="stylesheet" type="text/css" href="/static/shader/detail.css"/>{% endblock %}
</head>

<body>
	{% block sidebar %}	
        {% if shader_list %}
        <ul>
            {% for shader in shader_list %}
                <li><a href="{% url 'shader:detail' shader.shader_name %}" target="_blank">{{ shader.shader_name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No shader are available.</p>
        {% endif %}
    {% endblock %}


	{% block main %}

		{% block shaderTitle %}	<div class="shaderTitle">{{shader.shader_name}}</div> {%endblock%}

	
		<div class="panel">
			<div class="panelTitle"><div class="placeHolder"><h2>i</h2></div><h2>Links</h2></div>

			<table id="links">
				<tr>
					<td class="itemTitle"><h4>Local</h4></td>
					<td class="itemContent">{% block local %}{%endblock%}</td>
				</tr>			
				<tr>
					<td class="itemTitle"><h4>P4</h4></td>
					<td class="itemContent">{% block p4 %}{%endblock%}</td>
				</tr>
				<tr>
					<td class="itemTitle"><h4>URL</h4></td>
					<td class="itemContent">{% block url %}{%endblock%}</td>			
				</tr>			
			</table>
		</div>
		<hr>


		<div class="panel">
			<div class="panelTitle"><div class="placeHolder"><h2>i</h2></div><h2>Textures</h2></div>		

			<table id="textures">
				<tr>
					<th class="tableHeader">Name</th>
					<th class="tableHeader" colspan="3">Description</th>
				</tr>

				{% block textures %} {% endblock %}

			</table>
		</div>
		<hr>


		<div class="panel">
			<div class="panelTitle"><div class="placeHolder"><h2>i</h2></div><h2>Parameters</h2></div>

			<table id="parameter">
				<tr>
					<th class="tableHeader">Name</th>
					<th class="tableHeader">Type</th>
					<th class="tableHeader">Description</th>
				</tr>

				{% block parameters %} {% endblock %}
				
			</table>
		</div>
		<hr>


		<div class="panel">
			<div class="panelTitle"><div class="placeHolder"><h2>i</h2></div><h2>Usage</h2></div>

			<table id="usage">
				<tr>
					<th class="tableHeader">Name</th>
					<th class="tableHeader">Property</th>
				</tr>

				<tr>				
					<td class="itemTitle"><h4>VertexColor</h4></td>
					<td class="itemContent">{{ shader.shader_vertexColor }}</td>
				</tr>
				<tr>				
					<td class="itemTitle"><h4>UVSet</h4></td>
					<td class="itemContent">{{ shader.shader_uvSet }}</td>
				</tr>

				<tr>				
					<td class="itemTitle"><h4>SurfaceType</h4></td>
					{% if shader.shader_surfaceType == 0 %}
						<td class="itemContent">Opaque</td>	
					{% elif shader.shader_surfaceType == 1 %}
						<td class="itemContent">Transparent</td>
					{% elif shader.shader_surfaceType == 2 %}
						<td class="itemContent">Translucent</td>
					{% else %}	
						<td class="itemContent">Error</td>
					{% endif %}
				</tr>

				<tr>				
					<td class="itemTitle"><h4>Complexity</h4></td>
					<td class="itemContent">{{ shader.shader_complexity }}</td>
				</tr>
				<tr>				
					<td class="itemTitle"><h4>Textures</h4></td>
					<td class="itemContent">{{ shader.shader_textures }}</td>
				</tr>
				<tr>				
					<td class="itemTitle"><h4>DiffuseTexture</h4></td>
					<td class="itemContent">{{ shader.shader_diffuseTex }}</td>
				</tr>
				<tr>				
					<td class="itemTitle"><h4>NormalTexture</h4></td>
					<td class="itemContent">{{ shader.shader_normalTex }}</td>
				</tr>
				<tr>				
					<td class="itemTitle"><h4>SMDTexture</h4></td>
					<td class="itemContent">{{ shader.shader_SMDTex }}</td>
				</tr>
				<tr>				
					<td class="itemTitle"><h4>UVTint</h4></td>
					<td class="itemContent">{{ shader.shader_uvTint }}</td>
				</tr>
				<tr>				
					<td class="itemTitle"><h4>MaskTint</h4></td>
					<td class="itemContent">{{ shader.shader_maskTint }}</td>
				</tr>
				<tr>				
					<td class="itemTitle"><h4>GlobalDirt</h4></td>
					<td class="itemContent">{{ shader.shader_globalDirt }}</td>
				</tr>
				<tr>				
					<td class="itemTitle"><h4>Emissive</h4></td>
					<td class="itemContent">{{ shader.shader_emissive }}</td>
				</tr>
				<tr>				
					<td class="itemTitle"><h4>Wetness</h4></td>
					<td class="itemContent">{{ shader.shader_wetness }}</td>
				</tr>
				<tr>				
					<td class="itemTitle"><h4>Parallax</h4></td>
					<td class="itemContent">{{ shader.shader_parallax }}</td>
				</tr>
				<tr>				
					<td class="itemTitle"><h4>RetroReflect</h4></td>
					<td class="itemContent">{{ shader.shader_retroReflect }}</td>
				</tr>
			</table>
		</div>
		<hr>


		<div class="panel">
			<div class="panelTitle"><div class="placeHolder"><h2>i</h2></div><h2>Example</h2></div>

			{% block example %} {% endblock %}

		</div>
	{% endblock %} 
</body>
