<head>
	{%extends "shader/base.html"%}
    {% block extrastyle %}
        <link rel="stylesheet" type="text/css" href="/static/shader/index.css"/>  
    {% endblock %}
</head>

<body>

	{% block sidebar %}	
        {% if shader_list %}
        <ul>
            {% for shader in shader_list %}
                <li><a href="{% url 'shader:detail' shader.shader_name %}" target="_blank">{{ shader.shader_name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No shader are available.</p>
        {% endif %}
	{% endblock %}


	{% block main %}
    	<table id="index">
    		<tr>
                <th>Name</th>
                <th>顶点色</th>
                <th>UV</th>
                <th>类型</th>
                <th>复杂度</th>
                <th>贴图总数</th>
                <th>Diffuse</th>
                <th>Normal</th>
                <th>SMD</th>
                <th>UVTint</th>
                <th>MaskTint</th>
                <th>GlobalDirt</th>
                <th>Emissive</th>
                <th>Wetness</th>
                <th>Parallax</th>
                <th>RetroReflect</th>
            </tr>

            <tr>                
                <td class="selection"><button type="button" onclick="location.href={% url 'shader:index' %}"> 显示所有shader </button></td>

                <form action="{% url 'shader:index' %}" method="post">{% csrf_token %}             
                    {% include "shader/formBool.html" with submitName="selectVertexColor"  selectedOption=selected_vertexColor  %}
                    {% include "shader/formInt3.html" with submitName="selectUVSet"        selectedOption=selected_uvSet        %}
                    {% include "shader/formType.html" with submitName="selectSurfaceType"  selectedOption=selected_surfaceType  %}
                    {% include "shader/formInt3.html" with submitName="selectComplexity"   selectedOption=selected_complexity   %}
                    {% include "shader/formInt7.html" with submitName="selectTextures"     selectedOption=selected_textures     %}
                    {% include "shader/formInt3.html" with submitName="selectDiffuseTex"   selectedOption=selected_diffuseTex   %}
                    {% include "shader/formInt3.html" with submitName="selectNormalTex"    selectedOption=selected_normalTex    %}
                    {% include "shader/formInt3.html" with submitName="selectSMDTex"       selectedOption=selected_SMDTex       %}
                    {% include "shader/formBool.html" with submitName="selectUvTint"       selectedOption=selected_uvTint       %}
                    {% include "shader/formBool.html" with submitName="selectMaskTint"     selectedOption=selected_maskTint     %}
                    {% include "shader/formBool.html" with submitName="selectGlobalDirt"   selectedOption=selected_globalDirt   %}
                    {% include "shader/formBool.html" with submitName="selectEmissive"     selectedOption=selected_emissive     %}
                    {% include "shader/formBool.html" with submitName="selectWetness"      selectedOption=selected_wetness      %}
                    {% include "shader/formBool.html" with submitName="selectParallax"     selectedOption=selected_parallax     %}
                    {% include "shader/formBool.html" with submitName="selectRetroReflect" selectedOption=selected_retroReflect %}    
                </form>
            </tr>

            {% if selected_shader %}
                {% for shader in selected_shader %}
                    <tr>
                        <td class="length_01"><a href="{% url 'shader:detail' shader.shader_name %}" target="_blank">{{ shader.shader_name }}</a></td>
                        <td class="length_02">{{ shader.shader_vertexColor }}</td>
                        <td class="length_02">{{ shader.shader_uvSet }}</td>
                        <td class="length_02">{{ shader.get_shader_surfaceType_display }}</td>
                        <td class="length_02">{{ shader.shader_complexity }}</td>
                        <td class="length_02">{{ shader.shader_textures }}</td>
                        <td class="length_02">{{ shader.shader_diffuseTex }}</td>
                        <td class="length_02">{{ shader.shader_normalTex }}</td>
                        <td class="length_02">{{ shader.shader_SMDTex }}</td>
                        <td class="length_02">{{ shader.shader_uvTint }}</td>
                        <td class="length_02">{{ shader.shader_maskTint }}</td>
                        <td class="length_02">{{ shader.shader_globalDirt }}</td>
                        <td class="length_02">{{ shader.shader_emissive }}</td>
                        <td class="length_02">{{ shader.shader_wetness }}</td>
                        <td class="length_02">{{ shader.shader_parallax }}</td>
                        <td class="length_02">{{ shader.shader_retroReflect }}</td>
                    </tr>        
                {% endfor %}
            {% endif %}            
    	</table>
               
	{% endblock %}
</body>