<head>
	{%extends "shader/base.html"%}
	{% block title %}Roboto Shader{% endblock %}
    {% block extrastyle %}
        <link rel="stylesheet" type="text/css" href="/static/shader/index.css"/>  
    {% endblock %}
</head>

<body>
	<!-- ////////////////////////////// -->
	{% block branding %}Roboto Shader{% endblock %}

	<!-- ////////////////////////////// -->
	{% block sidebar %}	
        {% if shader_list %}
        <ul>
            {% for shader in shader_list %}
                <li><a href="{% url 'shader:detail' shader.shader_name %}">{{ shader.shader_name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No shader are available.</p>
        {% endif %}
	{% endblock %}

	<!-- ////////////////////////////// -->
	{% block main %}
	<form action="{% url 'shader:index' %}" method="post">
			{% csrf_token %}
			<select onchange="javascript:form.submit()" name="selectShader">
			{% for shader in shader_list %}
				<option value = {{ shader.shader_uv}}>{{ shader.shader_name }}</option>
			{% endfor %}
			</select>	
	</form>

	<table>
		<tr>
            <th class="tableHead">Name</th>
            <th class="tableHead">Opaque</th>
            <th class="tableHead">UVset</th>
            <th class="tableHead">Vertex</th>
        </tr>

        <tr>
            <th></th>
            <th> 
                <form action="{% url 'shader:index' %}" method="post">{% csrf_token %}
                <select onchange="javascript:form.submit()" name="selectOpaque">
                {% for shader in shader_list %}
                    <option value = {{ shader.shader_opaque}}>{{ shader.shader_opaque }}</option>
                {% endfor %}
                </select></form>
            </th>
            <th> 
                <form action="{% url 'shader:index' %}" method="post">{% csrf_token %}
                <select onchange="javascript:form.submit()" name="selectUV">
                {% for shader in shader_list %}
                    <option value = {{ shader.shader_uv}}>{{ shader.shader_uv }}</option>
                {% endfor %}
                </select></form>
            </th>
            <th></th>           
        </tr>

        {% if selected_shader %}
            {% for shader in selected_shader %}
                    <tr>
                        <td>{{ shader.shader_name }}</td>
                        <td>{{ shader.shader_opaque }}</td>
                        <td>{{ shader.shader_uv }}</td>
                        <td>{{ shader.shader_vertex }}</td>
                    </tr>        
            {% endfor %}
        {% endif %}
	</table>
	{% endblock %}
</body>