<head>
	{%extends "shader/detail.html"%}
</head>

<body>
	{% block info %} 水道专用shader，parallax {%endblock%}

	{% block local %} D:\Roboto\Data\Source\Shaders\World\Buildings\BLDN_River.dbx {% endblock %}
	{% block p4 %} //roboto/world/Data/Source/Shaders/World/Buildings/BLDN_River.dbx {% endblock %}
	{% block url %} <a href="frosted://Roboto;@cd4b459a-f60d-47af-a9d6-8eb49fdde84f">frosted://Roboto;@cd4b459a-f60d-47af-a9d6-8eb49fdde84f</a> {% endblock %}	

	{% block textures %} 
	<tr class = "tr_01"> {% include "shader/tex/RGBA.html" with texName="Texture" texCoord="texCoord0" texFormat="DXT5" texGamma="TagSrgb" %} </tr>
	{% endblock %}

	{% block parameters %} 
	{% include "shader/parameter.html" with paraName="Depth" paraType="Scalar" paraDesc="深度" %}
	{% include "shader/parameter.html" with paraName="Distortion" paraType="Scalar" paraDesc="能看清底部的程度" %}
	{% include "shader/parameter.html" with paraName="Scattering_Strength" paraType="Scalar" paraDesc="VolumentricColor影响到的高度" %}
	{% include "shader/parameter.html" with paraName="Speed" paraType="Scalar" paraDesc="水波运动速度" %}
	{% include "shader/parameter.html" with paraName="Texture" paraType="Texture" paraDesc="" %}
	{% include "shader/parameter.html" with paraName="VolumentricColor" paraType="Color" paraDesc="水底颜色" %}
	{% include "shader/parameter.html" with paraName="WavesStrength" paraType="Scalar" paraDesc="水波强度" %}
	{% endblock %}
</body>
