<head>
	{%extends "shader/detail.html"%}
</head>

<body>
	{% block info %}带TOD的自发光材质，0/1的Opacity{%endblock%}

	{% block local %} D:\Roboto\Data\Source\Shaders\World\Generic\Generic_Emissive_AlphaT.dbx {% endblock %}
	{% block p4 %} //roboto/world/Data/Source/Shaders/World/Generic/Generic_Emissive_AlphaT.dbx {% endblock %}
	{% block url %} <a href = "frosted://Roboto;@e3710772-fe56-4be0-a4cf-8532ffc6266e">frosted://Roboto;@e3710772-fe56-4be0-a4cf-8532ffc6266e</a> {% endblock %}	

	{% block textures %} 
	<tr class = "tr_01"> {% include "shader/tex/RGBA.html" with texName="Diffuse" texCoord="texCoord0" texFormat="DXT1A" texGamma="TagDefault" %} </tr>
	<tr class = "tr_01"> {% include "shader/tex/RGB_A.html" with rgbDesc="BaseColor / Emissive" aDesc="Opacity" %} </tr>

	<tr class = "tr_02"> {% include "shader/tex/RGBA.html" with texName="Normal" texCoord="texCoord0" texFormat="NormalmapDXT" texGamma="TagDefault" %} </tr>

	<tr class = "tr_01"> {% include "shader/tex/RGBA.html" with texName="SMD" texCoord="texCoord0" texFormat="DXT1" texGamma="TagLinear" %} </tr>
	<tr class = "tr_01"> {% include "shader/tex/R_G_B.html" with rDesc="Smoothness" gDesc="Metallic" bDesc="EmissiveIntensity" %} </tr>	
	{% endblock %}

	{% block parameters %} 
	{% include "shader/parameter.html" with paraName="colorTint" paraType="Color" paraDesc="BaseColor / Emissive变色" %}
	{% include "shader/parameter.html" with paraName="Diffuse" paraType="Texture" paraDesc="BaseColor / Emissive / Opacity" %}
	{% include "shader/parameter.html" with paraName="EmissiveIntensity" paraType="Scalar" paraDesc="Emissive强度" %}
	{% include "shader/parameter.html" with paraName="Normal" paraType="Texture" paraDesc="Normal" %}
	{% include "shader/parameter.html" with paraName="SMD" paraType="Texture" paraDesc=" Smoothness / Metallic / EmissiveIntensity" %}
	{% include "shader/parameter.html" with paraName="Tiling" paraType="Vector2" paraDesc="UV Tiling" %}
	{% include "shader/parameter.html" with paraName="TOD_Group" paraType="Vector4" paraDesc="TOD Group?" %}
	{% endblock %}
</body>
