<head>
	{%extends "shader/detail.html"%}
</head>

<body>
	{% block info %} 不透明材质，纯参数 {%endblock%}	

	{% block local %} D:\Roboto\Data\Source\Shaders\World\Generic\Generic_TintOnly.dbx {% endblock %}
	{% block p4 %} //roboto/world/Data/Source/Shaders/World/Generic/Generic_TintOnly.dbx {% endblock %}
	{% block url %} <a href = "frosted://Roboto;@48adfe51-279a-11e4-a893-e663f7334ce5">frosted://Roboto;@48adfe51-279a-11e4-a893-e663f7334ce5</a> {% endblock %}

	{% block textures %} 
	{% endblock %}

	{% block parameters %} 
	{% include "shader/parameter.html" with paraName="BaseColor" paraType="Color" paraDesc="BaseColor" %}
	{% include "shader/parameter.html" with paraName="MetalMask" paraType="Scalar" paraDesc="Metallic" %}
	{% include "shader/parameter.html" with paraName="Smoothness" paraType="Scalar" paraDesc="Smoothness" %}
	{% endblock %}
</body>
