<head>
	{%extends "shader/detail.html"%}
</head>

<body>
	{% block info %} 和<a href="{% url 'shader:detail' "SGN_Emissive_2UV" %}" target="_blank">SGN_Emissive_2UV</a>的区别是Diffuse可以局部变色，加了RetroReflective {%endblock%}

	{% block local %} D:\Roboto\Data\Source\Shaders\World\Signs\SGN_Emissive_2UV_RetroReflective.dbx {% endblock %}
	{% block p4 %} //roboto/world/Data/Source/Shaders/World/Signs/SGN_Emissive_2UV_RetroReflective.dbx {% endblock %}
	{% block url %} <a href="frosted://Roboto;@45387d4d-2985-4061-bf7a-32ba93f0aa92">frosted://Roboto;@45387d4d-2985-4061-bf7a-32ba93f0aa92</a> {% endblock %}	

	{% block textures %} 
	<tr class = "tr_01"> {% include "shader/tex/RGBA.html" with texName="Diffuse" texCoord="texCoord0" texFormat="DXT5" texGamma="TagSrgb" %} </tr>	

	<tr class = "tr_02"> {% include "shader/tex/RGBA.html" with texName="Normal" texCoord="texCoord0" texFormat="DXT5" texGamma="TagSrgb" %} </tr>

	<tr class = "tr_01"> {% include "shader/tex/RGBA.html" with texName="SMD" texCoord="texCoord0" texFormat="DXT5" texGamma="TagSrgb" %} </tr>
	<tr class = "tr_01"> {% include "shader/tex/R_G_B.html" with rDesc="Smoothness" gDesc="Metallic" bDesc="Diffuse TintMask" %} </tr>	

	<tr class = "tr_02"> {% include "shader/tex/RGBA.html" with texName="EmissiveColor" texCoord="texCoord1" texFormat="DXT5" texGamma="TagSrgb" %} </tr>
	<tr class = "tr_02"> {% include "shader/tex/RGB_A.html" with rgbDesc="BaseColor / Emissive" aDesc="TintMask / EmissiveIntensity" %} </tr>	
	{% endblock %}

	{% block parameters %} 
	{% include "shader/parameter.html" with paraName="colorTint" paraType="Color" paraDesc="Diffuse变色" %}
	{% include "shader/parameter.html" with paraName="Diffuse" paraType="Texture" paraDesc="BaseColor / EmissiveColor" %}
	{% include "shader/parameter.html" with paraName="EmissiveColor" paraType="Texture" paraDesc="BaseColor / EmissiveColor / TintMask / EmissiveIntensity "%}
	{% include "shader/parameter.html" with paraName="EmissiveIntensity" paraType="Scalar" paraDesc="Emissive强度" %}
	{% include "shader/parameter.html" with paraName="Normal" paraType="Texture" paraDesc="Normal" %}
	{% include "shader/parameter.html" with paraName="SMD" paraType="Texture" paraDesc="Smoothness / Metallic" %}
	{% include "shader/parameter.html" with paraName="useMask" paraType="Boolean" paraDesc="是否对Diffuse使用TintMask" %}
	{% include "shader/parameter.html" with paraName="UV0Tiling" paraType="Vector2" paraDesc="UV Tiling" %}
	{% endblock %}
</body>
