<head>
	{%extends "shader/detail.html"%}
</head>

<body>
	{% block info %} 散光灯，没有任何可以调节的参数 {%endblock%}

	{% block local %} D:\Roboto\Data\Source\Shaders\World\Signs\SGN_Emissive_FloodLight.dbx {% endblock %}
	{% block p4 %} //roboto/world/Data/Source/Shaders/World/Signs/SGN_Emissive_FloodLight.dbx {% endblock %}
	{% block url %} <a href="frosted://Roboto;@56570be2-3d64-4f2d-ae28-6715b9ffdb51">frosted://Roboto;@56570be2-3d64-4f2d-ae28-6715b9ffdb51</a> {% endblock %}	

	{% block textures %} 
	{% endblock %}

	{% block parameters %} 
	{% endblock %}

	{% block example %}
	<img src="/static/shader/images/SGN_Emissive_FloodLight.png"></img>
	{% endblock %}
</body>
