<head>
	{%extends "shader/detail.html"%}
</head>

<body>
	{% block info %} translucent， 只有Diffuse {%endblock%}

	{% block local %} D:\Roboto\Data\Source\Shaders\World\SubSurface\SS_Generic_DNS_AlphaT.dbx {% endblock %}
	{% block p4 %} //roboto/world/Data/Source/Shaders/World/SubSurface/SS_Generic_DNS_AlphaT.dbx {% endblock %}
	{% block url %} <a href="frosted://Roboto;@cbe529e1-6a5b-47c6-90f5-9253d1ffcf6a">frosted://Roboto;@cbe529e1-6a5b-47c6-90f5-9253d1ffcf6a</a> {% endblock %}	

	{% block textures %} 
	<tr class = "tr_01"> {% include "shader/tex/RGBA.html" with texName="Diffuse" texCoord="texCoord0" texFormat="DXT5" texGamma="TagSrgb" %} </tr>
	<tr class = "tr_01"> {% include "shader/tex/RGB_A.html" with rgbDesc="BaseColor" aDesc="Opacity"%} </tr>	
	{% endblock %}

	{% block parameters %}
	{% include "shader/parameter.html" with paraName="Diffuse" paraType="Texture" paraDesc="BaseColor / Opacity" %}
	{% include "shader/parameter.html" with paraName="Smoothness" paraType="Scalar" paraDesc="Smoothness强度" %}
	{% include "shader/parameter.html" with paraName="Translucency" paraType="Scalar" paraDesc="SubSurface Translucency强度" %}
	{% endblock %}
</body>
