<head>
	{%extends "shader/detail.html"%}
</head>

<body>
	{% block info %} 基础Subsurface translucent材质 {%endblock%}

	{% block local %} D:\Roboto\Data\Source\Shaders\World\SubSurface\SS_Generic_DNS_AlphaT.dbx {% endblock %}
	{% block p4 %} //roboto/world/Data/Source/Shaders/World/SubSurface/SS_Generic_DNS_AlphaT.dbx {% endblock %}
	{% block url %} <a href="frosted://Roboto;@cbe529e1-6a5b-47c6-90f5-9253d1ffcf6a">frosted://Roboto;@cbe529e1-6a5b-47c6-90f5-9253d1ffcf6a</a> {% endblock %}	

	{% block textures %} 
	<tr class = "tr_01"> {% include "shader/tex/RGBA.html" with texName="Diffuse" texCoord="texCoord0" texFormat="DXT5" texGamma="TagSrgb" %} </tr>

	<tr class = "tr_02"> {% include "shader/tex/RGBA.html" with texName="Normal" texCoord="texCoord0" texFormat="DXT5" texGamma="TagLinear" %} </tr>

	<tr class = "tr_01"> {% include "shader/tex/RGBA.html" with texName="SMD" texCoord="texCoord0" texFormat="BC7" texGamma="TagLinear" %} </tr>
	<tr class = "tr_01"> {% include "shader/tex/R_G_B.html" with rDesc="Smoothness" gDesc="Reflectance / AO" bDesc="EmissiveIntensity" %} </tr>	
	{% endblock %}

	{% block parameters %}
	{% include "shader/parameter.html" with paraName="Translucency_Thickness" paraType="Scalar" paraDesc="SubSurface Translucency强度" %}
	{% include "shader/parameter.html" with paraName="MetalMask_Intensity" paraType="Scalar" paraDesc="Metallic强度" %}
	{% include "shader/parameter.html" with paraName="MetalMask_OnOff" paraType="Boolean" paraDesc="是否使用Metallic，不使用的话Metallic为0" %}
	{% include "shader/parameter.html" with paraName="Smoothness_Variation" paraType="Scalar" paraDesc="Smoothness强度微调" %}
	{% include "shader/parameter.html" with paraName="Diffuse" paraType="Texture" paraDesc="BaseColor" %}
	{% include "shader/parameter.html" with paraName="Normal" paraType="Texture" paraDesc="Normal" %}
	{% include "shader/parameter.html" with paraName="SMD" paraType="Texture" paraDesc="Smoothness / Reflectance / AO / EmissiveIntensity" %}
	{% include "shader/parameter.html" with paraName="Tiling" paraType="Vector2" paraDesc="UV Tiling" %}
	{% endblock %}
</body>
