<head>
	{%extends "shader/detail.html"%}
</head>

<body>
	{% block info %}顶点色R通道控制AO，参与Reflectance {%endblock%}	

	{% block local %} D:\Roboto\Data\Source\Shaders\World\Vegetation\VEG_SS_Leaves_CA_NTS_LODFade_AO_Vertex.dbx {% endblock %}
	{% block p4 %} //roboto/world/Data/Source/Shaders/World/Vegetation/VEG_SS_Leaves_CA_NTS_LODFade_AO_Vertex.dbx {% endblock %}
	{% block url %} <a href="frosted://Roboto;@e8c54c3f-b9c2-45eb-95be-49d051d29b82">frosted://Roboto;@e8c54c3f-b9c2-45eb-95be-49d051d29b82</a> {% endblock %}	

	{% block textures %} 
	<tr class = "tr_01"> {% include "shader/tex/RGBA.html" with texName="Diffuse" texCoord="texCoord0" texFormat="DXT1A" texGamma="TagSrgb" %} </tr>
	<tr class = "tr_01"> {% include "shader/tex/RGB_A.html" with rgbDesc="BaseColor" aDesc="Opacity" %} </tr>

	<tr class = "tr_02"> {% include "shader/tex/RGBA.html" with texName="Normal" texCoord="texCoord0" texFormat="DXT5" texGamma="TagLinear" %} </tr>
	<tr class = "tr_02"> {% include "shader/tex/RG_B_A.html" with rgDesc="Normal" bDesc="SubSurfaceTranslucency" aDesc="Smoothness"%} </tr>

	{% endblock %}

	{% block parameters %} 
	{% include "shader/parameter.html" with paraName="BlendAmount" paraType="Scalar" paraDesc="BaseColor变色强度" %}
	{% include "shader/parameter.html" with paraName="col" paraType="Color" paraDesc="BaseColor变色" %}
	{% include "shader/parameter.html" with paraName="Diffuse" paraType="Texture" paraDesc="BaseColor / Opacity" %}
	{% include "shader/parameter.html" with paraName="Normal" paraType="Texture" paraDesc="Normal" %}
	{% include "shader/parameter.html" with paraName="OcclusionOpacity" paraType="Scalar" paraDesc="顶点色强度，控制AO / Reflectance" %}
	{% include "shader/parameter.html" with paraName="ReflectanceMultiplier" paraType="Scalar" paraDesc="Reflectance强度" %}
	{% include "shader/parameter.html" with paraName="SmoothnessMultiplier" paraType="Scalar" paraDesc="Normal的Alpha强度" %}
	{% include "shader/parameter.html" with paraName="TranslucencyMultiplier" paraType="Scalar" paraDesc="SubSurfaceTranslucency强度" %}
	{% include "shader/parameter.html" with paraName="WaterCycle" paraType="Color" paraDesc="Wetness曲线" %}
	{% endblock %}

	{% block example %}
	<div>Wetness曲线</div>
	<img src="/static/shader/images/wetness.png"></img>
	{% endblock %}
</body>
